body{
    /*border: solid 1px #000;*/
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: hsla(9, 58%, 47%, 1);
    background: hsla(195, 100%, 88%, 1);

    background: radial-gradient(circle, hsla(195, 100%, 88%, 1) 0%, hsla(235, 100%, 98%, 1) 100%);

    background: -moz-radial-gradient(circle, hsla(195, 100%, 88%, 1) 0%, hsla(235, 100%, 98%, 1) 100%);

    background: -webkit-radial-gradient(circle, hsla(195, 100%, 88%, 1) 0%, hsla(235, 100%, 98%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#C3F0FF", endColorstr="#F4F5FF", GradientType=1 );
    margin: 0;
    padding: 0;
    
    justify-content: center;
    align-items: center;
}

header, main, footer{
    /*border: solid 1px red;*/
    display: block;
    text-align: center;
    margin-top: 5%;

}
/* Header box: logo, titulo*/
.header-box{
    border: solid 1px #000;
    padding: 1%;
    display: flex;
    justify-content: center;
}
.logo{
    border: solid 1px #000;
    padding: 1%;
    margin: 0px;
}
.titulo{
    border: solid 1px #000;
    padding: 2%;
    margin: 0px;
}

/* Main box: inputArea, outputArea*/

/* Section: inputArea*/

.inputTextBox{
    border: solid 1px #000;
}

/*InfoBox*/
.infoBox{
    border: solid 1px #000;
    display: flex;
    justify-content: center;
}
.symbolInfo{
    border: solid 1px #000;
    background-color: #f0f0f0;
    border-radius: 50%;
    padding: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin-right: 5px;
}
.legendInfo{
    border: solid 1px #000;
}

/*BtnBox*/
.btnBox{
    border: solid 1px #000;
    display: flex;
    justify-content: center;
}
.btnEncrypt{
    border: solid 1px #000;
}
.btnDecrypt{
    border: solid 1px #000;
}

/* Section: outputArea*/

.outputTextBox{
    border: solid 1px #000;
}
