body{
    /*border: solid 1px #000;*/
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: hsla(9, 58%, 47%, 1);
    background: hsla(195, 100%, 88%, 1);

    background: radial-gradient(circle, hsla(195, 100%, 88%, 1) 0%, hsla(235, 100%, 98%, 1) 100%);

    background: -moz-radial-gradient(circle, hsla(195, 100%, 88%, 1) 0%, hsla(235, 100%, 98%, 1) 100%);

    background: -webkit-radial-gradient(circle, hsla(195, 100%, 88%, 1) 0%, hsla(235, 100%, 98%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#C3F0FF", endColorstr="#F4F5FF", GradientType=1 );
    margin: 0;
    padding: 0;
    
    justify-content: center;
    align-items: center;
}

header, main, footer{
    /*border: solid 1px red;*/
    display: block;
    text-align: center;
    margin-top: 5%;

}
/* Header box: logo, titulo*/
.header-box{
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    padding: 1%;
    margin: 0px;
}
.titulo{
    padding: 1em;
    margin: 0px;
    font-weight: bold;
}

/* Main box: inputArea, outputArea*/
.inputArea, .outputArea{
    display:inline-block;
}
/* Section: inputArea*/
.inputTextBox{
    position: relative;
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin: 0 auto; 
    padding: 10px;
}
#inputText{
    border: solid 0.5px blue;
    border-radius: 10px;
    background-color: transparent;
    transition: background-color 0.5s ease;
    padding: 1em;
    resize: none;
    width: 30vw;
    height: 30vh;
    text-align: center;
    align-items: center;
}
#inputText.animating{
    background-image: linear-gradient(to right,#ff9800, #f0f0f0);
    background-size: 200% 100%;
    animation: slideBackground 0.5s linear forwards;
}
@keyframes slideBackground{
    0%{
        background-position: 0% 0%;
    }
    100%{
        background-position: -100% 0%;
    }
}



/*InfoBox*/
.infoBox{
    border: solid 1px #000;
    display: flex;
    padding: 1%;
    justify-content: center;
    align-items: center;
}
.symbolInfo{
    border: solid 1px #000;
    background-color: #f0f0f0;
    border-radius: 50%;
    padding: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin-right: 5px;
}
.legendInfo{
    border: solid 1px #000;
}

/*BtnBox*/
.btnBox{
    border: solid 1px #000;
    display: flex;
    justify-content: center;
}
.btnEncrypt{
    border: solid 1px #000;
}
.btnDecrypt{
    border: solid 1px #000;
}

/* Section: outputArea*/

.outputTextBox{
    border: solid 1px #000;
}
.btnCopyBox{
    border: solid 1px #000;
}
.btnCopy{
    border: solid 1px #000;
}
