body{
    /*border: solid 1px #000;*/
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: hsla(9, 58%, 47%, 1);
    background: hsla(195, 100%, 88%, 1);

    background: radial-gradient(circle, hsla(195, 100%, 88%, 1) 0%, hsla(235, 100%, 98%, 1) 100%);

    background: -moz-radial-gradient(circle, hsla(195, 100%, 88%, 1) 0%, hsla(235, 100%, 98%, 1) 100%);

    background: -webkit-radial-gradient(circle, hsla(195, 100%, 88%, 1) 0%, hsla(235, 100%, 98%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#C3F0FF", endColorstr="#F4F5FF", GradientType=1 );
    margin: 0;
    padding: 0;
    
    justify-content: center;
    align-items: center;
}

header, main, footer{
    /*border: solid 1px red;*/
    display: block;
    text-align: center;
    margin-top: 5%;

}
/* Header box: logo, titulo*/
.header-box{
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    padding: 1%;
    margin: 0px;
}
.titulo{
    padding: 1em;
    margin: 0px;
    font-weight: bold;
}

/* Main box: inputArea, outputArea*/
.inputArea, .outputArea{
    display: inline-flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    margin: 2em auto;
}
#inputText, #outputText {
    border: solid 0.5px blue;
    border-radius: 10px;
    background-color: transparent;
    transition: background-color 0.5s ease;
    padding: 1em;
    resize: none;
    width: 30vw;
    height: 30vh;
    text-align: center;
}
#outputText{
    pointer-events: none;
}

/*Animacion de color para las áreas de texto
----------------------------------------------*/
.animate-background-plus{
    background: radial-gradient(circle, #ffa939 10%, transparent 70%);
    animation: animateColor-plus 1s forwards;
}
@keyframes animateColor-plus{
    0% {
        background-color: transparent;
    }
    100% {
        background-color: #ffa939;
    }
}
.animate-background-minus{
    animation: animateColor-minus 1s forwards;
}
@keyframes animateColor-minus {
    0% {
        background-color: #ffa939;
    }
    100% {
        background-color: transparent;
    }
}
/*----------------------------------------------*/
/*InfoBox*/
.infoBox{
    display: flex;
    padding: 2%;
    margin: 2%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 13px;
}
.symbolInfo{
    background-color: #f0f0f0;
    border: solid 0.2px blue;
    border-radius: 50%;
    padding: 5px;
    width: 10px;
    height: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin-right: 5px;
}
/*BtnBox*/
.btnBox{
    display: flex;
    justify-content: center;
    margin:0px;
}
.btn{
    background-color: deepskyblue;
    color: white;
    border: solid 0.5px blue;
    border-radius: 10px;
    font-size: 16px;
    width: 12em;
    height: 4em;
    padding: 1px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 1.5s ease;
}

.btn:hover{
    animation: bounceColor 1.5s ease infinite;
}
/*Animacion para rebotar el color de los botones*/
@keyframes bounceColor{
    0%,100%{background-color: deepskyblue;}
    50%{background-color: cyan;}
}

